[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "~=1.5.2"
beautifulsoup4 = "~=4.11.1"
tqdm = "~=4.64.1"
langcodes = "~=3.3.0"

[dev-packages]
black = "~=22.10.0"
flake8 = "~=6.0.0"
flake8-isort = "~=5.0.3"
flake8-docstrings = "~=1.6.0"
flake8-bugbear = "~=22.10.27"
flake8-rst-docstrings = "~=0.3.0"
darglint = "~=1.8.1"
pytest = "~=7.2.0"

[requires]
python_version = "3.8"
